body {
    background-color: #212121;
}

.top-bar {
    background-color: #483939;
}

.top-bar ul {
    background-color: #483939;
}

.dropdown {
    color:white;
}

.callout.secondary {
    background-color: #483939;
}

.button.secondary {
    background-color: #483939;
    color: #ffffff;
}

.button {
    background-color: #483939;
    color: #ffffff;
}

p {
    color: white;
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Oswald', sans-serif;
    color: white;
}

.breadcrumbs li {
    float: left;
    color: #ff0000;
    font-size: 0.6875rem;
    cursor: default;
    text-transform: uppercase;
}

.breadcrumbs a {
    color: #881f0e;
}

.menuitem a {
    background-color: #483939;
    color: #ffffff;
}

label {
    display: block;
    margin: 0;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.8;
    color: #ffffff;
}

orbit-container {
    height: 600px;
}